:root {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//color por color
.bg-green {
    background: #9dd091;
}

.bg-red {
    background: #f29091;
}

.bg-blue {
    background: #91bff7;
}

.bg-yellow {
    background: #fcdf7f;

}


.bg-brown {
    background: #c8a78c;
}

.bg-purple {
    background: #c89ee5;
}

.bg-black {
    background: #080808ab;

}

.bg-pink {
    background: #f69ebc;
}

.bg-gray {
    background: #d7d4c0;
}

.bg-white {
    background: #cfcfcf;
}

.bg-all {
    background: #999;
}

//color por tipo

.color-steel {
    background: #60A2B9;
}

.color-water {
    background: #2481f0;
}

.color-bug {
    background: #92a212;
}

.color-dragon {
    background: #4f60e2;
}

.color-electric {
    background: #fac100;
}

.color-ghost {
    background: #713f71;
}

.color-fire {
    background: #e72324;
}

.color-fairy {
    background: #ef71f0;
}

.color-ice {
    background: #3dd9ff;
}

.color-fighting {
    background: #ff8100;
}

.color-normal {
    background: #a0a2a0;
}

.color-grass {
    background: #3da224;
}

.color-psychic {
    background: #ef3f7a;
}

.color-rock {
    background: #b0ab82;
}

.color-dark {
    background: #4f3f3d;
}

.color-ground {
    background: #92501b;
}

.color-poison {
    background: #923fcc;
}

.color-flying {
    background: #82baf0;
}